*

!.gitignore
!*.c
!*.py
!topaz_imu/
!topaz_imu/*
!setup_nat*
!setup_webcam.sh
!display_demo.sh
!setup_webcam_standalone.sh
!grafana_ui_backup/
!grafana_ui_backup/*
!*.html

# topaz_imu specific ignores
topaz_imu/.claude
topaz_imu/CLAUDE.md
topaz_imu/main
topaz_imu/sensor_iim42652/iim42652